.svg {
  aspect-ratio: 1;
  width: 1em;
}

.path {
  animation: pulse ease infinite 1s;
  transform-origin: center;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}